<!DOCTYPE html>
<html lang="en">
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Eventia</title>
     <link rel="stylesheet" href="{{url_for('static', filename='sample2.css')}}">
    <link rel="icon" href="{{url_for('static', filename='icon.ico')}}">

</head>
<body>
     <div class="container">
          <nav>
               <img src="{{url_for('static', filename='logo.png')}}" alt="icon" class="icon" width="250px" height="90px">
               <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Gallery</a></li>
                    <li><a href="">About</a></li>
               </ul>
               <a href="/login"><img src="{{url_for('static', filename='man.png')}}" alt="icon" class="cart"></a>
          </nav>
     </div>
     <div class="text-box">
          <p>Hi!</p>
          <h1>Keshav</h1>
          <h3>HOW CAN WE HELP YOU</h3>

          <div class="row">
               <a href="/more">Explore more</a>
           <a href="">Connect  <span>&#x27F6;</span></a>
          </div>  
     </div>
     <div class="social-icons">
          <a href=""><img src="{{url_for('static', filename='dribble.png')}}"></a>
          <a href=""><img src="{{url_for('static', filename='telegram.png')}}"></a>
          <a href=""><img src="{{url_for('static', filename='instagram.png')}}"></a>
     </div>
     <div class="category">
          <h1 style="font-size: 50px;">Features</h1>
          <div class="feat">
              <a href="#" link="green"><img src="https://images.pexels.com/photos/1694900/pexels-photo-1694900.jpeg?auto=compress&cs=tinysrgb&w=600" height="200px" width="150px" alt="party" class="card-image">
                  <h3 class="card-title">DJ Party</h3>
              </a>
          </div>
          <div class="feat">
              <a href="#"><img src="https://images.pexels.com/photos/1444442/pexels-photo-1444442.jpeg" height="200px" width="150px" alt="Wedding" class="card-image"> 
                   <h3 class="card-title">Wedding</h3> </a>
          </div>
          <div class="feat">
              <a href="#"><img src="https://images.pexels.com/photos/2531546/pexels-photo-2531546.jpeg?auto=compress&cs=tinysrgb&w=600"  height="200px" width="150px" alt="birth day" class="card-image">
                  <h3 class="card-title">Birth Day</h3> </a>
          </div>
          <div class="feat">
              <a href="#"><img src="https://images.pexels.com/photos/2505061/pexels-photo-2505061.jpeg" height="200px" width="150px" alt="baby shower" class="card-image">
                  <h3 class="card-title">Baby shower</h3> </a>
          </div>
          <div class="feat">
              <a href="#"><img src="https://images.pexels.com/photos/8229593/pexels-photo-8229593.jpeg"  height="200px" width="150px" alt="festival" class="card-image">
                  <h3 class="card-title">Festival Celebration</h3> </a>
          </div>
          <div class="feat">
            <a href="#"><img src="https://images.pexels.com/photos/6994984/pexels-photo-6994984.jpeg"  height="200px" width="150px" alt="festival" class="card-image">
          <h3 class="card-title">Charity Drive</h3> </a>
          </div>
       </div>
      </div>
</body>
</html>