<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Sign Up Eventia</title>
</head>
<body>
     <div class="page">
          <div class="form_area">
               <form action="{{ url_for('sign_in')}}", method="post">
                    <label name="fname">First name</label>
                         <input type="text" placeholder="First Name" name="fname">
                    <label name="last name">Last Name</label>
                         <input type="text" placeholder="last name" name="lname">
                         <input type="email" placeholder="Email ID" name="email">
                         <input type="password" placeholder="password" name="pwd">
                         <input type="checkbox" name="stay">
                         <button type="submit">Sign Up</button>
               </form>
          </div>
     </div>
     
</body>
</html>